body {
    background-image: url('https://data.whicdn.com/images/26738481/original.gif');
    margin: 0;
    margin-left: 323px;
    margin-top: 160px
    }
   #playerStatus{
   	   color: yellow;
       margin-left: 80px;
       font-size: 30px	
    }
    #scoreX{
    	color:yellow ;
    	margin-left: 98px;
    	font-size: 30px;
    }
    #scoreO{
    	color:yellow;
    	margin-left: 98px;
    	font-size: 30px;
    }
    #turn{
      background-color: #fff;
      border :5px solid #E2E2E2;
      width : 60px;
      text-align: center;
    }
    
    #body {
        background-color: rgba(117, 190, 218, 0.5) ;

    }
    
    #container {
       width: 270px;
       height: 270px;
       
       margin-left: 50px;
       margin-top: 55px;
       
    }
    input {
       width:80px; 
       height:80px;
       font-size: 50px;
       float: left;
       border-radius: 25px;
       border-color: red;
       box-shadow: 5px 5px 10px grey;
    }
    
    input:disabled{
       background-color: yellow;
       color: black;
    }
    
    input:active {
        transform: translateY(4px);
        
    }

    #restart {
        margin-left: 176px;
       float:left ;
       position: absolute;
       top: 370px;
       left: 115px;
       width: 120px;
       height: 60px;
       border-radius: 20px;
       border-color: black;
       font-weight: bold;
       
       
    }
    
   
    